<div class="slickCarousel">
    <div class="caroImg">
        <img src="~/images/caro/corruptdog.gif" alt="Vinesauce Logo" height="300" />
    </div>
    <div class="caroImg">
        <img src="~/images/caro/dylan-powell-vineshrume-l.jpg" alt="Vinesauce Logo" height="300" />
    </div>
    <div class="caroImg">
        <img src="~/images/caro/wiispaz.gif" alt="Vinesauce Logo" height="300" />
    </div>
    <div class="caroImg">
        <img src="~/images/caro/Joel.png" alt="Vinesauce Logo" height="300" />
    </div>
    <div class="caroImg">
        <img src="~/images/caro/V-Dub_Death_Stranding.png" alt="Vinesauce Logo" height="300" />
    </div>
    <div class="caroImg">
        <img src="~/images/caro/smallhead.jpg" alt="Vinesauce Logo" height="300" />
    </div>
</div>