@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="about row">
    <h2 class=" pt-2 pt-sm-2 col-9 col-sm-9 col-md-12 col-lg-12">About Joel</h2>
    <div class="about col-3 col-sm-3">
        <img src="~/images/sm/Vinesauce_Joel_Logo.png" alt="Vargskelethor Logo" class="smImg float-right" />
    </div>
</div>
<hr />
<div class="row">
    <div class="col-12 col-sm-12 col-md-8 col-lg-8">
        <p>Joel Varg Johansson, otherwise known as Vargskelethor Joel is a gaming streamer from Sweden. He joined the Vinesauce group in 2011. Prior to becoming a streamer, Joel contributed to and helped the Vinesauce. When he had become popular with the Vinesauce community, Vincent offered the chance to be a streamer to Joel.</p>
        <p>Joel is known for his streams in which he destroys computers(Virtual Machines) by downloading anything he can get his hands on. He is also known for his interesting childhood that he occasionally recalls on stream. 
        In one instance, he mentioned asking his father what technology was when he was 5 years old. His father replied, "IT'S MAGIC JOEL! IT'S MAGIC". Since that day, Joel was never the same.</p>
    </div>
    <div class="col-md-4 col-lg-4">
        <img src="~/images/lg/KidJoel.jpg" alt="Popular picture of Joel as a kid" class="lgImg" />
    </div>
</div>