@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="about row">
    <h2 class=" pt-2 pt-sm-2 col-9 col-sm-9 col-md-12 col-lg-12">About Vinny</h2>
    <div class="about col-3 col-sm-3">
        <img src="~/images/sm/VineshroomIcon.png" alt="Vinesauce Logo" class="smImg float-right" />
    </div>
</div>
<hr/>
<div class="row">
    <div class="col-12 col-sm-12 col-md-8 col-lg-8">
        <p>Vincent Pizzapasta is a videogame streamer from New York. Beginning his streaming career in 2010 under the name 'Vinesauce', he is also the founder of the Vinesauce streaming group. 
        Prior to streaming, Vinny had a job at a television station for editing, which he quit in 2014.</p>
        <p>Popular streams of Vinny's include videogame corruptions and collections of games/content that people curate for him. Considering the last name "Pizzapasta", he is known for being Italian. 
        His favorite food is pizza, and fans theorize that he may have a natural pizza smell despite first hand accounts stating otherwise.</p>
        <p>Aside from streaming, Vinny is a musician and has a band named Red Vox.</p>
    </div>
    <div class="col-md-4 col-lg-4">
        <img src="~/images/lg/5A9UYb6.jpg" alt="Picture of Vinny Pizzapasta" class="lgImg" />
    </div>
</div>